{% extends "layout.html" %}
{% block title %} Bread Products Page{% endblock %}


{% block content %}

<form method="POST" id="editProductForm" action="{{ url_for('updateProduct', productID=productID) }}">
    <!-- Display product details -->
    {% for attribute in product %}

    <br>
    <label for="productID"> Product ID: {{ attribute[0] }} </label>
    <br><br>

    <label for="name">Name</label>
    <input type="text" name="name" value="{{ attribute[1] }}" required>

    <label for="unitPrice">Unit Price</label>
    <input type="text" name="unitPrice" value="{{ attribute[2] }}" required>

    <label for="count">Count</label>
    <input type="text" name="count" value="{{ attribute[3] }}" required>

    <label for="netWeight">Net Weight</label>
    <input type="text" name="netWeight" value="{{ attribute[4] }}" required>

    <label for="stock">Stock</label>
    <input type="text" name="stock" value="{{ attribute[5] }}" required>

    {% endfor %}

    <br><br>
    <!-- Display culture as a dropdown -->
    <label for="culture">Culture {{ selected_cultureID[0] }} </label>
    <select name="cultureID">
        {% for culture in all_cultures %}

        <option value="{{ culture[0] }}" {% if culture[0] == selected_cultureID[0] %} selected {% endif %}> {{ culture[1] }} </option>

        {% endfor %}
    </select>
    
    <br><br>
    <!-- Display allergens with checkboxes -->
    <label>Allergen(s) </label><br>
    {% for allergen in all_allergens %}

        <label>ID:{{ allergen[0] }} </label>

        <input type="checkbox" name="allergens[]" value="{{ allergen[0] }}" {% if (allergen[0],) in selected_allergens %} checked {% endif %}>
        <!-- allergen[0] -> int:  and  select_allergens[0] = (int,)     so must match by (allergens[0])-->

        <label>{{ allergen[1] }}</label><br>
    {% endfor %}
    <br>

    <input type="submit" value="Update Product">
</form>

{% endblock %}
