{% extends "base_header.html" %}
{% block title %} Allergens Page {% endblock %}


{% block content %} 

<script>
    // JS function used to delete the allergen through pop-up OK & Cancel
     function deleteAllergen(allergenID) {
      if (confirm("Are you sure you want to delete this allergen?")) {
          // JS script to the server to delete the allergen
          var xhr = new XMLHttpRequest();
          
          xhr.onreadystatechange = function() {
              if (xhr.readyState === XMLHttpRequest.DONE) {
                  if (xhr.status === 200) {
                      // Allergen deletion was successful
                      alert("Allergen successfully deleted");
                      // Reload the same page after
                      location.reload();
                      // Allergen deletion error
                      alert("Error deleting allergen");
                  }
              }
          };
          
          xhr.open("DELETE", "/allergens/" + allergenID, true);
          xhr.send();
      }
  }
</script>

<!-- (Read) Allergens Table -->
<div class="container-fluid mt-4">
    <h2>Allergens</h2>
    <table>
        <tr align="middle">
            <th>ID</th>
            <th>Name</th>
            <th > <a href="/allergens#addAllergen" class="btn btn-outline-primary"><IMG SRC="{{url_for('static', filename='new_icon.png')}}" width = "25" height = "25"> New</a></th>
        </tr>
        {% for item in allergens %}
        <tr align="middle">
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td><a href="#" onclick="deleteAllergen({{ item[0] }})" class="btn btn-outline-danger"> <IMG SRC="{{url_for('static', filename='delete_icon.png')}}" width = "25" height = "25">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div> <!-- (Read) Allergens Table: end -->

<!-- (Read) AllergensProducts Table -->
<div class="container-fluid mt-4">
    <h2> Allergens in Products </h2>
    <table style="background:#FAFCFF;">
        <tr align="middle">
            <th>ID</th>
            <th>Product Name</th>
            <th>Allergen</th>
        </tr>
        {% for item in allergensProducts %}
        <tr align="middle">
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div> <!-- (Read) AllergensProducts Table: end -->

<!-- (Create) Add a new allergen-->
<div class="container-fluid mt-4">
    <form method="POST" id="addAllergen" action= "/allergens">
        <legend><strong> Add Allergen <IMG SRC = "{{url_for('static', filename='new_icon.png')}}" width = "25" height = "25"></strong></legend>
            <fieldset class="fields">
                <label for="name"> Name </label> <input type="text" name="name" required>
            </fieldset>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input class="btn btn-outline-primary mt-1" type="submit" id="addAllergen" value="Add allergen">
            <a href="/allergens#" class="btn btn-outline-secondary mt-1">Back to Top</a>
    </form>
</div> <!-- (Create) Add new allergen: end -->

{% endblock %}