<html>
<head>
<title>Global Bread Co.</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<h1> 
  <IMG SRC="{{url_for('static', filename='Logo.png')}}" width = "85" height = "85"> 
  Global Bread Co.
</h1>

[ <a href="{{ url_for('home')}}">HOME</a> | <a href="{{ url_for('breadProducts')}}">BREAD PRODUCTS</a> | <a href="{{ url_for('customers')}}">CUSTOMERS</a> 
| <a href="{{ url_for('sales')}}">SALES</a> | <a href="{{ url_for('cultures')}}">CULTURES</a> | <a href="{{ url_for('allergens')}}">ALLERGENS</a> |
 <!-- <a href="reset_database.html"> Reset Database</a> </a> -->]

{% block content %} {% endblock %}

</html>