<!--
# Originality:
# All CRUD and queries for all routes, and everything else that is not listed in the citations.
-->

{% extends "base_header.html" %}
{% block title %} cultures Page {% endblock %}


{% block content %} 

<script>
     // JS function used to delete the culture through pop-up OK & Cancel
     function deleteCulture(cultureID) {
      if (confirm("Are you sure you want to delete this culture?")) {
          // Script to server to delete culture
          var xhr = new XMLHttpRequest();
          
          xhr.onreadystatechange = function() {
              if (xhr.readyState === XMLHttpRequest.DONE) {
                  if (xhr.status === 200) {
                      // Successful deletion of culture
                      alert("Culture successfully deleted");
                      // Redirect to same page
                      location.reload();
                  } else {
                      // Error Restriction in Case
                      alert("Cannot delete culture. Present in a bread product.");
                  }
              }
          };
          
          xhr.open("DELETE", "/cultures/" + cultureID, true);
          xhr.send();
      }
  }
</script>

<!--
Citation for Flask Starter Guide:
Date: 11/16/2023
Adapted from Starter Guide
Use: Recongiured Template for the HTML for Tables
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
-->

<!-- (Read) Cultures Table -->
<div class="container-fluid mt-4">
    <h2>Cultures</h2>
    <table >
        **** A culture present in bread products may not be deleted.
        <tr align="middle">
            <th>ID</th>
            <th>Name</th>
            <th><a href="/cultures#addCulture" class="btn btn-outline-primary"><IMG SRC="{{url_for('static', filename='new_icon.png')}}" width = "25" height = "25"> Add</a></th>
        </tr>
        {% for item in cultures %}
        <tr align="middle">
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            {% if item[0] in breadIDs %}
                <td><button type="button" class="btn btn-secondary" disabled> <IMG SRC="{{url_for('static', filename='delete_icon.png')}}" width = "25" height = "25">Delete</a></td>
            {% else %}
                <td><a href="#" onclick="deleteCulture({{ item[0] }})" class="btn btn-outline-danger"> <IMG SRC="{{url_for('static', filename='delete_icon.png')}}" width = "25" height = "25">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div> <!-- (Read) Cultures Table: end-->

<!--(Create) Form to add a new culture-->
<div class="container-fluid mt-4">
    <form method="POST" id="addCulture" action= "/cultures">
        <legend><strong> Add Culture <IMG SRC = "{{url_for('static', filename='new_icon.png')}}" width = "25" height = "25"></strong></legend>
            <fieldset class="fields">
                <label for="name"> Name </label> <input type="text" name="name" required>
            </fieldset>
              
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
                <input class="btn btn-outline-primary mt-1" type="submit" id="addCulture" value="Add culture">
                <a href="/cultures#" class="btn btn-outline-secondary mt-1">Back to Top</a>
    </form>
</div><!-- (Create) Form to add a new culture: end -->

{% endblock %}