{% extends "base_header.html" %}
{% block title %} cultures Page {% endblock %}


{% block content %} 

<script>
     function deleteCulture(cultureID) {
      if (confirm("Are you sure you want to delete this culture?")) {
          // Make an AJAX request to the server to delete the culture
          var xhr = new XMLHttpRequest();
          
          xhr.onreadystatechange = function() {
              if (xhr.readyState === XMLHttpRequest.DONE) {
                  if (xhr.status === 200) {
                      // Successful response from the server
                      alert("Culture successfully deleted");
                      // You might want to reload the page or update the UI here
                      location.reload(); // This reloads the page; you can replace it with more sophisticated UI updates
                  } else {
                      // Handle error response from the server
                      alert("Error deleting Culture");
                  }
              }
          };
          
          xhr.open("DELETE", "/cultures/" + cultureID, true);
          xhr.send();
      }
  }
</script>


<h2>Cultures</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th><IMG SRC="{{url_for('static', filename='new_icon.png')}}" width = "25" height = "25"> <a href="#" onClick="newCulture()">New</a></th>
    </tr>
    {% for item in cultures %}
    <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
        <td><a href="#" onclick="deleteCulture({{ item[0] }})"> <IMG SRC="{{url_for('static', filename='delete_icon.png')}}" width = "25" height = "25">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<!--Form to add a new culture-->
<div id="insert">
    <br>
    <form method="POST" id="addCulture" action= "/cultures">
        <legend><strong> Add culture <IMG SRC = "{{url_for('static', filename='new_icon.png')}}" width = "25" height = "25"></strong></legend>
            <fieldset class="fields">
                <label for="name"> Name </label> <input type="text" name="name">

            </fieldset>    
                <input class="btn" type="submit" id="addCulture" value="Add culture">
                <input class="btn" type="button" value="Cancel" onclick="cultures()">
    </form>
</div><!-- Insert-->
{% endblock %}