<!--
# Originality:
# All CRUD and queries for all routes, and everything else that is not listed in the citations.
-->

{% extends "base_header.html" %}
{% block title %} Bread Products Page{% endblock %}


{% block content %}
<div class="container-fluid mt-4">
    <form method="POST" id="editProductForm" action="{{ url_for('updateProduct', productID=productID) }}">
        <!-- Display product details -->
        {% for attribute in product %}
        
        <legend style="font-size:20px"><strong>Edit Product ID: {{ attribute[0] }} <IMG SRC="{{url_for('static', filename='edit_icon.png')}}" width="25" height="25"></strong></legend>
        <br><br>

        <label for="name">Name</label>
        <input type="text" name="name" value="{{ attribute[1] }}" required> &nbsp;

        <label for="unitPrice">Unit Price ($)</label>
        <input type="number" name="unitPrice" step="0.01" min="0.01" value="{{ attribute[2] }}" required> &nbsp;

        <label for="count">Count</label>
        <input type="number" name="count" value="{{ attribute[3] }}" required> &nbsp;

        <label for="netWeight">Net Weight (oz)</label>
        <input type="number" name="netWeight" step="0.01" min="0.01" value="{{ attribute[4] }}" required> &nbsp;

        {% endfor %}

        <br><br>

        <!-- Display culture as a dropdown -->
        <label for="culture">Culture</label>
        <select name="cultureID">
            {% for culture in all_cultures %}

            <option value="{{ culture[0] }}" {% if culture[0] == selected_cultureID[0] %} selected {% endif %}> {{ culture[1] }} </option>

            {% endfor %}
        </select>
        
        <br><br>
        
        <!-- Display allergens with checkboxes -->
        <label>Allergen(s) </label><br>
        {% for allergen in all_allergens %}
            <label>ID:{{ allergen[0] }} </label>
            <input type="checkbox" name="allergens[]" value="{{ allergen[0] }}" {% if (allergen[0],) in selected_allergens %} checked {% endif %}>
            <label>{{ allergen[1] }}</label><br>
        {% endfor %}
        <br>

        <input type="submit" value="Update Product" class="btn btn-outline-success"> 
        &nbsp;&nbsp;&nbsp;
        <a href="/breadProducts" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>

{% endblock %}
