{% extends "base_header.html" %}

{% block content %}

<div class="container-fluid mt-4">
  <h2> Home </h2>
  <p> Welcome to the home page. Here is the administrator database view of the Global Bread Company. Here you can may view our <br>products sold, customers, 
  sales and their details, bread origins, and the allergens in the bread. Check the index below for what's available.</p>

  <!--
  # Citation for Home Bread.gif:
  # Date: 11/16/2023
  # Taken from imgflip
  # Use: Decoration for Home Page
  # Source URL: https://imgflip.com/gif/73kk6u
  -->
  <IMG SRC="{{url_for('static', filename='Home Bread.gif')}}">
   
  <br> <br>
  <h2>The Index</h2>
  <li><a href="/breadProducts">Bread Products</a> - Create, Read, Update, Delete Bread Products (Also Affects AllergensProducts Intersection Table in Allergens) </li>
  <li><a href="/customers">Customers</a> - Create, Read, Update, and Delete Customers</li>
  <li><a href="/sales">Sales</a> - Create, Read, Update, and Delete Sales & Sold Products (Intersection)</li>
  <li><a href="/cultures">Cultures</a> - Cread, Read, and Delete Cultures</li>
  <li><a href="/allergens">Allergens</a> - Create, Read, and Delete Allergens | Read AllergensProducts (Intersection)</li>
  <br>

  <!-- Reset Database -->
  <form method="POST" id="databaseReset" action="/database">
    <button type="submit" class="btn btn-warning">Reset the Database</button>
  </form>

</div>
  
{% endblock %}