{% extends "layout.html" %}
{% block title %}Certificate Page{% endblock %}


{% block content %}
    <h2>Index page</h2>
    <li><a href="/breadProducts">Bread Products</a> - view all bread products, add new bread products</li>
    <li><a href="/allergens">Allergens</a> - view all allergens, alergensProducts, and add new allergen</li>
    <li><a href="/cultures">Cultures</a> - view all cultures, add new culture</li>
    <li><a href="/sales">Sales</a> - view all sales, add sales, sales products</li>
    <li><a href="/customers">Customers</a> - view all customers, add customers</li>
{% endblock %}
