{% extends "base_header.html" %}

{% block content %}
<div id="sales">
  <p>&nbsp;</p>
  <legend style="font-size:20px"><strong>Sales</strong></legend>

<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>Customer</th>
    <th>Sale Total</th>
    <th><IMG SRC="{{url_for('static', filename='new_icon.png')}}" width = "25" height = "25"> <a href="/sales#addSale" >New</a></th>
  </tr>

  <!-- Iterates through each item in sales -->
  {% for sale in sales %}
  <tr>
    {% for key in sale.keys() %}  
      {% if key == "Sale Total" %}
      <td align="right">${{ sale[key] }} </td>
      {% else %}
      <td align="right">{{ sale[key] }} </td>
      {% endif %}
    {% endfor %}
    <td><a href="/delete_sales/{{sale['saleID']}}" > <IMG SRC="{{url_for('static', filename='delete_icon.png')}}" width = "25" height = "25">Delete</a></td>
  </tr>
  {% endfor %}
</table>
<br>
</div> <!-- sales --end -->


<div id="Search">
  <form method="POST" id="searchSale">
    <legend style="font-size:20px"><strong>Search Sale</strong> <IMG SRC="{{url_for('static', filename='find_icon.png')}}" width = "25" height = "25"></legend>
    <label>Sale ID</label> <input type="number" name="saleID">
    <input class="btn" type="submit" id="searchSale" value="Find">
  </form>
</div>


<div id="soldProducts">
  <br>
  <legend style="font-size:20px"><strong>Sold Products</strong></legend>
<!-- Header for soldProducts Table -->
<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>SaleID</th>
    <th>Product Name</th>
    <th>Quantity Sold</th>
    <th>Line Total</th>
  </tr>
  <!-- Iterates through each item in soldProducts -->
  {% for sold in soldProducts %}
  <tr>
    {% for key in sold.keys() %}  
      {% if key == "lineTotal" %}
      <td align="right">${{ sold[key] }} </td>
      {% else %}
      <td align="right">{{ sold[key] }} </td>
      {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<br>
</div> <!-- soldProducts -- end -->

<div id="insert">
  <br>
  <form method="POST" name="addSale" id="addSale" action="/sales#addSale">
    <legend style="font-size:20px"><strong>Add a Sale<IMG SRC="{{url_for('static', filename='new_icon.png')}}" width = "25" height = "25"></strong></legend>
      <fieldset class="fields">
      <table cellpadding="10">
        <tr>
          <td>
            <label for="customer">Customer</label>
            <select name="customer" id="customer">
              {% for customer in customers %}
              <option value={{ customer['customerID'] }}>{{ customer['customerID'] }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        {% for i in range(1, count+1) %} 
        <tr>
          <td>
            <label for="bread">Product Name </label>
            <select name="bread_{{i}}" id="bread">
              {% for product in products %}
              <option value="{{product['name']}}">{{product['name']}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <label>Quantity Sold</label> 
            <input type="number" name="qtySold_{{i}}" required min="1"> {{ i }}
          </td>
          <td>
            <label>Line Total</label> 
            <input type="number" name="lineTotal_{{i}}" required step=0.01 min=0.01> {{ i }}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <p> <strong>**Note** <br> Pressing Add a Product or Cancel Adding will erase input. Please add all boxes before entering data.</strong></p>
        </tr>
        <tr>
          <td>
            <input type="hidden" name="submitSale" value={{count}}>
            <input type="submit" value ="Add this Sale to the Database">
          </td>
        </tr>

  </form>
        <tr>
        <form method="POST" name="addSale" id="addSale" action="/sales#addSale">
          <td align="center">
            Products : {{ count }}
              <input type="hidden" name="soldProduct" value={{count+1}}>
              <input type="submit" value ="Add a Product to this Sale">
          </td>
        </form>
        {% if count > 1 %}
        </form>
        <form method="POST" name="addSale" id="addSale" action="/sales#addSale">
          <td align="center">
              <input type="hidden" name="removeProduct" value={{count-1}}>
              <input type="submit" value ="Cancel Adding this Product">
          </td>
        </tr>
        </form>
        {% endif %}
        </tr>
      </table>
      </fieldset>
</div><!-- insert -- end -->


<div id="update">
  <br>
    <legend style="font-size:20px"><strong>Update a Sale<IMG SRC="{{url_for('static', filename='edit_icon.png')}}" width = "25" height = "25"></strong></legend>
      <fieldset class="fields">
      <table cellpadding="10">
        {% set boxes = namespace() %}
        {% set saleIDP = namespace() %}

        {% if update_sales_results == 0 %}
        <tr>
          <form method="POST" name="loadSale" id="loadSale" action="/sales#updateSale">
            <td>
              <input type="submit" value ="Auto-Populate (Based on Sale ID)">
            </td>
            <td>
              <label for="saleID">Sale ID</label>
              <select name="saleID" id="saleID">
                {% for sale in sales %}
                  <option value={{ sale['saleID'] }}>{{ sale['saleID'] }}</option>
                {% endfor %}
              </select>
            </td>
          </form>
        {% endif %}

        {% if update_sales_results != 0 %}
        <tr>
            <td>
              <h2> <u>Sale {{ sale_id }}</u></h2>
            </td>

          <form method="POST" name="updateSale" action="/sales#updateSale">
          <td>
            <label for="customer">Customer</label>
            <select name="customer" id="customer">
              {% set cust_name = namespace() %}
              {% for sale in sales %}
                {% if sale["saleID"] == sale_id %}
                  {% set cust_name.current = sale['Customer'] %}
                {% endif %}
              {% endfor %}
              {% for customer in customers %}
                {% if customer['name'] == cust_name.current %}
                <option value={{ customer['customerID'] }} SELECTED>{{ customer['customerID'] }}</option>
                {% else %}
                <option value={{ customer['customerID'] }}>{{ customer['customerID'] }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          Test: {{ cust_name }}
        </tr>

        {% for update in update_sales_results %}
          {% set boxes.current = loop.length %}
        <tr>
          <td>
            <label for="bread">Product Name</label>
            <select name="bread_{{loop.index}}" id="bread">
              
              {% for product in products %}
              {% if product['productID'] == update['productID'] %}
              <option value= "{{ product['productID'] }}" SELECTED> {{ product['productID'] }}</option>
              {% else %}
              <option value= "{{ product['productID'] }}"> {{ product['productID'] }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </td>

          <td>
            <label>Quantity Sold</label> 
            <input type="number" name="qtySold_{{loop.index}}" required min="1" value={{ update['qtySold'] }}></input>
          </td>
          <td>
            <label>Line Total</label> 
            <input type="number" name="lineTotal_{{loop.index}}" required step=0.01 min=0.01 value={{ update['lineTotal'] }}>
          </td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if update_sales_results != 0 %}
        <tr>
          <td>
            <input type="hidden" name="updateSaleID" id="updateSaleID" value={{ sale_id }}>
            <input type="hidden" name="updateLength" id="updateSale" value={{ boxes.current }}>
            <input type="submit" value ="Update this Sale">
          </td>
        </form>
        
        <form method="POST" name="cancelUpdate" action="/sales#updateSale">
          <td>
            <input type="hidden" name="cancelUpdate" id="cancelUpdate" value="True">
            <input type="submit" value="Cancel Updating Sale">
          </td>
        </form>
        {% endif %}
        </tr>

</div><!-- update -- end -->


{% endblock %}