<html>
<head>
<title>Global Bread Co.</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body onload="browseProduct()">
<h1> 
  <IMG SRC="Logo.png" width = "85" height = "85"> 
  Global Bread Co.
</h1>

<div id="Header">
[ <a href="home.html">HOME</a> | <a href="bread.html">BREAD PRODUCTS</a> | <a href="customers.html">CUSTOMERS</a> 
| <a href="sales.html">SALES</a> | <a href="cultures.html">CULTURES</a> | <a href="allergens.html">ALLERGENS</a> ]
</div>

<div id="breadProduct">
  <p>&nbsp;</p>
  <legend style="font-size:20px"><strong>Bread Products</strong></legend>
  <a href="#" onClick="showAll()">Display all forms</a>
<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Unit Price</th>
    <th>Count</th>
    <th>Net Weight</th>
    <th>Stock</th>
    <th>Culture</th>
    <th>Allergen(s)</th>
    <th><IMG SRC="new_icon.png" width = "25" height = "25"> <a href="#" onClick="newProduct()">New</a></th>
  </tr>
  <tr>
    <td align="right">1</td>
    <td>Baguette</td>
    <td align="right">$4.00</td>
    <td align="right">1ct</td>
    <td align="right">8g</td>
    <td align="right">60qty</td>
    <td>French</td>
    <td align="center">gluten, wheat</td>
    <td><a href="#" onClick="updateProduct('this.productID')"> <IMG SRC="edit_icon.png" width = "25" height = "25">Edit </a></td>
    <td><a href="#" onclick="deleteProduct('this.productID')"> <IMG SRC="delete_icon.png" width = "25" height = "25">Delete</a></td>
  </tr>
  <tr>
    <td align="right">2</td>
    <td>Banana Bread</td>
    <td align="right">$8.00</td>
    <td align="right">1ct</td>
    <td align="right">14g</td>
    <td align="right">40qty</td>
    <td>USA</td>
    <td></td>
    <td><a href="#" onClick="updateProduct('this.productID')"> <IMG SRC="edit_icon.png" width = "25" height = "25">Edit </a></td>
    <td><a href="#" onclick="deleteProduct('this.productID')"> <IMG SRC="delete_icon.png" width = "25" height = "25">Delete</a></td>
  </tr>
  <tr>
    <td align="right">3</td>
    <td>Lavash</td>
    <td align="right">$3.00</td>
    <td align="right">8ct</td>
    <td align="right">9g</td>
    <td align="right">100qty</td>
    <td>Iran</td>
    <td align="center">wheat</td>
    <td><a href="#" onClick="updateProduct('this.productID')"> <IMG SRC="edit_icon.png" width = "25" height = "25">Edit </a></td>
    <td><a href="#" onclick="deleteProduct('this.productID')"> <IMG SRC="delete_icon.png" width = "25" height = "25">Delete</a></td>
  </tr>
</table>
<br>
</div> <!-- breadProduct-end -->

<div id="Search">
  <form method="POST" id="searchProduct">
    <legend style="font-size:20px"><strong>Search Product</strong> <IMG SRC="find_icon.png" width = "25" height = "25"></legend>
    <label>Bread Name</label> <input type="text" name="Name">
    <input class="btn" type="submit" id="searchProduct" value="Find">
</div>

<div id="insert">
    <br>
    <form method="POST" id="addProduct">
        <legend style="font-size:20px"><strong>Add Bread Product <IMG SRC="new_icon.png" width = "25" height = "25"></strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="Name">
            <label> Unit Price </label> <input type="number" name="Unit Price">
            <label> Count </label> <input type="number" name="Count">
            <label> Net Weight </label> <input type="number" name="Net Weight"> <br><br>
            <label> Stock </label> <input type="number" name="Stock">
            <label> Culture </label> <input type="text" name="culture">
            <br> <br>
            <table cellpadding="10">
              <tr>
                <td><label>Allergen(s)</label></td>
                <td>
                  <input type ="checkbox" id="gluten" name="gluten" value="gluten"> <label for="gluten"> gluten </label> <br>
                  <input type ="checkbox" id="wheat" name="wheat" value="wheat"> <label for="wheat"> wheat </label> <br>
                  <input type ="checkbox" id="milk" name="milk" value="milk"> <label for="milk"> milk </label> <br>
                </td>
                <td>
                  <input type ="checkbox" id="eggs" name="eggs" value="eggs"> <label for="eggs"> eggs </label> <br>
                  <input type ="checkbox" id="soy" name="soy" value="soy"> <label for="soy"> soy </label> <br>
                  <input type ="checkbox" id="yeast" name="yeast" value="yeast"> <label for="yeast"> yeast </label> <br>
                </td>
              </tr>
            </table>

      </fieldset>
          <input class="btn" type="submit" id="addProduct" value="Add Product">
          <input class="btn" type="button" value="Cancel" onClick="browseProduct()">
	</form> 
</div><!-- insert -->

<div id="update">
    <br>
    <form method="POST" id="UpdateProduct">
      <legend style="font-size:20px"><strong>Update Product<IMG SRC="edit_icon.png" width = "25" height = "25"></strong></legend> 
      <fieldset class="fields">
            <input type="hidden" name="productID" id="updateProductID" value="1">
            <label for="bread">Product Name</label>
            <select name="bread" id="bread">
              <option value="Baguette">Baguette</option>
              <option value="Banana Bread">Banana Bread</option>
              <option value="Lavash">Lavash</option>
            </select>
            <label> Unit Price </label> <input type="number" name="Unit Price">
            <label> Count </label> <input type="number" name="Count">
            <label> Net Weight </label> <input type="number" name="Net Weight"> <br><br>
            <label> Stock </label> <input type="number" name="Stock">
            <label> Culture </label> <input type="text" name="culture">
            <br> <br>
            <table cellpadding="10">
              <tr>
                <td><label>Allergen(s)</label></td>
                <td>
                  <input type ="checkbox" id="gluten" name="gluten" value="gluten"> <label for="gluten"> gluten </label> <br>
                  <input type ="checkbox" id="wheat" name="wheat" value="wheat"> <label for="wheat"> wheat </label> <br>
                  <input type ="checkbox" id="milk" name="milk" value="milk"> <label for="milk"> milk </label> <br>
                </td>
                <td>
                  <input type ="checkbox" id="eggs" name="eggs" value="eggs"> <label for="eggs"> eggs </label> <br>
                  <input type ="checkbox" id="soy" name="soy" value="soy"> <label for="soy"> soy </label> <br>
                  <input type ="checkbox" id="yeast" name="yeast" value="yeast"> <label for="yeast"> yeast </label> <br>
                </td>
              </tr>
            </table>
      </fieldset>
          <input class="btn" type="submit" id="updateProduct" value="Save Updated Product">
          <input class="btn" type="button" value="Cancel" onClick="browseProduct()">
	</form> 
</div><!-- update -->

<div id="delete" style="display: block">

  <form method="POST" id="deletePerson">
  <legend style="font-size:20px"><strong>Delete Product <IMG SRC="delete_icon.png" width = "25" height = "25"></strong></legend>
    <fieldset class="fields">
      <label for="bread">Product Name</label>
      <select name="bread" id="bread">
        <option value="Baguette">Baguette</option>
        <option value="Banana Bread">Banana Bread</option>
        <option value="Lavash">Lavash</option>
      </select>
    </fieldset>
    <input class="btn" type="submit" id="DeleteProduct" value="Delete Product">
          <input class="btn" type="button" value="Cancel" onClick="browseProduct()">
  </form> 
</div><!-- delete -->

</body>
</html>